.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;
}

.modal-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.modal-inner {
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    width: 80%;
    max-width: 600px; 
    margin: 100px auto 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-backdrop p{
    margin-right: 40px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.modal-inner h4{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #0095F6;
    width: 100%;
}

.modal-inner-picture {
    display: flex;
    justify-content: center;
}

.modal-inner-picture .fieldset {
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: #0095F6;
    color: #fff;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.modal-inner-text p{
    display: flex;
    justify-content: center;
}

.modal-picture {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    width: 100%;
}

.modal-picture img {
    width: 30%;
}

.modal-inner-picture .fieldset label:hover {
    cursor: pointer; 
}

.selected-image {
    width: 60%;
    max-height: auto;
}

.image-container {
    max-width: 100%; 
}

.modal-return {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
}

.modal-return img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.modal-return a {
    color: #0095F6;
    cursor: pointer;
}

.return-add-comment {
    display: flex;
}

.return-add-comment .return-profile {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.return-add-comment p {
    margin-top: 20px;
    color: #000;
    font-weight: 600;
}

.return-img-name {
    display: flex;
}

.return-content {
    width: 50%;
}

.return-content input {
    border: none;
    outline: none;
    height: 100px;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.modal-inner-posts {
    height: 70%;
    width: 100%;
    max-width: 800px;
}

.modal-posts-show {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.modal-posts-show img {
    width: 55%;
    height: 100%;
    object-fit: cover;
}

.select-posts-comments {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
}

.select-posts-comments img {
    width: 40px;
    height: 40px;
}

.select-posts-comments img:first-child {
    margin-left: 5px;
}

.share-stories {
    margin: 30px 0;
}

.share-stories button {
    padding: 10px 25px;
    color: #fff;
    background-color: #0095F6;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
}

.select-posts-content {
    width: 45%;
}

.char-count {
    width: 100%;
    display: flex;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

.textarea-container textarea{
    border: none;
    outline: none;
    width: 75%;
    height: 100px;
    resize: none;
}

.check-posts-comment {
    display: flex;
    align-items: center;
}

.check-posts-comment img {
    width: 30px;
    height: 30px;
}

.add-comment-icons {
    display: flex;
} 

.add-comment-icons img {
    width: 30px;
    height: 30px;
}

.add-comment-icons img:nth-child(n + 3) {
    margin-left: auto;
}

.check-posts-comment h4{
    border: none;
}

.posts-liked {
    display: flex;
    align-items: center;
}

.posts-liked img {
    width: 20px;
    height: 20px;
}

.add-a-comment {
    display: flex;
}

.add-a-comment img {
    width: 30px;
    height: 30px;
}

.add-a-comment textarea {
    border: none;
    outline: none;
    width: 100%;
    resize: none;
    margin-top: 5px;
}

.add-a-comment a {
    color: #0095F6;
    margin-right: 5px;
    cursor: pointer;
}

.followers {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.followers h3 {
    text-align: center;
}

.follow-persons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.follow-persons-left {
    display: flex;
    align-items: center;
    gap: 5px;
}

.follow-persons-left a {
    color: #0095F6;
    cursor: pointer;
}

.follow-persons img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.follow-persons-right button {
    border: none;
    outline: none;
    background-color: #ddd;
    padding: 10px;
    margin-right: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.modal-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }